<p>
  <b>Matter:</b>
  <%= schedule.matter.name %>
</p>

<p>
  <b>Time Gap:</b>
	<% schedule.time_gaps.each do |tg| %>
  	<%= tg.to_s %>
	<% end %>
</p>

<p>
  <b>Professor:</b>
  <%= schedule.professor.name if schedule.professor %>
</p>